.modal-container {
    /* opacity: 0; */
    position: fixed;
    z-index: 110;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
}

.modal-close {
    visibility: hidden;
}

.close {
    position: absolute;
    right: -30px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    color: #000;
    cursor: pointer;
}

.cards {
    width: 400px;
    border: 1px solid #000000;
    background-color: #fff;
    font-size: 0.8em;
    text-transform: capitalize;
    border-radius: 15px;
}

.pokemon-name2 {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: #FF4646;
    border-radius: 13px 13px 0 0;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.3em;
}   

.info-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.sub-container {
    width: 50%;
    margin-top: 10px;
    /* border: 1px solid #000000; */
}

.sub-container-img {
    width: 60%;
    margin-top: 10px;
    padding-top: 10px;
    /* border: 1px solid #000000; */
}

.sub-container-text {
    width: 40%;
    margin-top: 10px;
    /* border: 1px solid #000000; */
}

.pokemon-screen {
    width: 90%;
    background-color: #C4C4C4;
    border: 1px solid #000000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}

.screen-border {
    width: 80%;
    background-color: #fff;
    border: 1px solid #000000;
    position: absolute;
    top: 20px;
    bottom: 20px;
}

.screen-img {
    position: absolute;
}

.subtitle2 {
    font-weight: bold;
    margin-top: 7px;
}

p{
    line-height: 1.4em;
}

.p-bottom {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FF4646;
}

.sub-container-text p {
    padding-left: 10px;
}

.table-container {
    width: 100%;
}

.t1 {
    margin-top: 8px;
}

.num-cel {
    text-align: center;
    font-weight: bold;
}
table {
    border-collapse: collapse;
}

.t1 th {
    border-bottom: #FF4646 1px solid;
    height: 25px;
}

.t1 td {
    height: 20px;
}

.t1 th:nth-child(2) {
    width: 50%;
}

.t1 td:nth-child(2), .t1 th:first-child {
    border-right:  1px solid #FF4646;
}

.info-container:nth-child(4) {
    justify-content: space-between;
}

.border-container {
    padding: 5px;
    margin-top: 8px;
    width: 45%;
    border:  1px solid #FF4646;
    border-radius: 5px;
}

.t2 tr {
    border-bottom:  1px solid #000; 
}

.t2 tr:last-child {
    border: none;
}

.t2 td:first-child {
    border-right:  1px solid #000; 
}

.t2 td:last-child  {
    text-align: center;
}

.border-container p {
    margin-bottom: 3px;
}

.border-container span {
    display: inline-block;
    margin-right: 5px;
}

.evolution {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}