*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
 
.padre{
    display: flex;
    flex-flow: column nowrap;
}
 
.borrar{
    display:none !important;
  }
 
.mostrar{
  display: block;
}
.main-container {
  position: relative;
  margin-left: 30%;
  margin-top: 3%;
  width: 40%;
  background-color:rgb(213, 223, 241);
  border: solid 3px #142850;
  border-radius: 10px 10px ;
  padding: 20px;
} 
 
table{
    display: flex;
}
 
.optionSports{
      position: relative;
      margin-left: 8%;
      width: 35%;
      color: #fff;
      font-size: 13px;
      background-color: #142850;
      padding: 0%;
}
 
   .btnOrdenar{
    margin-left: 75%;
    color: #fff;
    font-size: 14px;
    background-color: #142850;
   }
    th{
    padding: 20px;
    }
 
    
  ul:nth-child(even){
    padding: 10px;
    background-color:rgb(248, 245, 245);
    display: flex;
    flex-flow: row nowrap;  
    text-align: center;
  }
 
  li{
    padding: 10px;
    flex-flow: row nowrap;  
    display:inline;
    padding-left:10px;
    padding-right:3px; 
 }
 
    .aMedallero {
    padding: 10px;
    display: flex;
    text-align: center;
   } 
 
.seccion-medallas  {
  position: relative;
  margin-left: 30%;
  margin-top: 3%;
  width: 40%;
  height: 70%;
  background-color:rgba(218, 222, 231, 0.884);
  border: solid 3px #142850;
  border-radius: 3px 3px ;
  padding: 20px;
}
    .opcOlimpiadas{
      margin-top: 5%;
      margin-left: 28%;
      width: 45%;
      color: #fff;
      font-size: 15px;
      background-color: #142850;
      padding: 8px;
    }
 
    .btnmedallas{
    margin-top: 5%;
    margin-left: 38%;
    color: #fff;
    font-size: 14px;
    background-color: #7493d1;
    padding: 5px;
   }
      
 
.margen-interno{
    padding: 0 50px;
}
    .header{
      background: url(Imagenes/olimpiadas5.jpg);
      background-position: center;
      background-attachment: contain;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
    }
      .menu{
          background: #fff;
          display: flex;
          flex-flow: row nowrap;
          height: 100px;
          align-items: center;
          border-bottom: 1px solid rgba(255,255,255,.5);
          list-style: none;
      }
          .logo{
              flex: 1 1 auto;
          }
                .logo a{
                    color: #343434;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #e23b3b;
                }
          .nav{
              flex: 5 1 auto;
          }
                .nav a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #e23b3b;
                }
          .social{
              flex: 1 1 auto;
          }
      .texto-principal{
          height: 580px;
          display: flex;
          align-items: top;
      }
          h1{
             font-family: 'Lora', serif;
             font-size: 21px;
             color: #fff;
             font-weight: 300;
             text-align: center;
             line-height: 1.8;
          }
    .section{
        background: #f7f7f7;
        display: flex;
    }
      
        .articulos {
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex:1 1 40%;
                color:#444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }
            .article img{
                width: 100%;
            }
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px;
                background: #142850;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                background: #546cc3;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }
            .navegacion {
                background: #70a3c4;
                flex: 1 1 100%;
            }
            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
 
        .aside{
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
        .aside img{
            width: 100%;
        }
           
        h4{
            background: #142850;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .pie{
           text-align: center;
        }
        .pie a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
 
 
@media all and (max-width: 1120px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
}
 
@media all and (max-width: 762px){
    .articulos{
        flex-direction: column;
    }
}
 
@media all and (max-width:650px){
    .nav a{font-size: 12px;}
}
 
@media all and (max-width: 400px){
    .aside{
          flex-direction: column;
    }
    .main-container {
        flex-direction: column;
    }
    li {
        font-size: 11px;
        padding: 4%;
    }
    select{
        font-size: 8px;
    }
    th{
        font-size: 11px;
        padding: 3%;
    }
}
 
/*Tabla de atletas*/
@media screen and (max-width: 1006px) {
    table {
        width: 100%;
        }
        col {
            width: 40%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }
        .root {
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
            font-size: 10px; 
            display: flex;       
        }
        .optionSports{
            flex-direction: column;
            font-size: 16px;
            width: 34%;
            padding: 2%;
            display: flex;
            justify-content: center;
            margin: 18px;
        }
        .btnOrdenar {
            flex-direction: column;
            font-size: 16px;
            width: 20%;
            padding: 2%;
            margin-left: 70%;
            margin-top: 16px;
        }
        .main-container{
            flex-direction: column;
            font-size: 16px;
            width: 64%;
            padding: 0%;
            margin-left: 20%;
            justify-content: flex;
        }
        ul {
            padding: 10px;
            font-size: 18px;
        }
        li{
            padding: 10px;
            font-size: 18px;
        }   
        .opcOlimpiadas{
            margin-top: 5%;
            margin-left: 20%;
            width: 60%;
            font-size: 14px;
            padding: 14px;
        }
    }
 
@media screen and (max-width: 756px) {
    table {
    width: 100%;
    }
    col {
        width: 40%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .root {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        font-size: 10px; 
        display: flex;       
    }
    .optionSports{
        flex-direction: column;
        font-size: 12px;
        width: 39%;
        padding: 5%;
        display: flex;
        justify-content: center;
    }
    .btnOrdenar {
        flex-direction: column;
        font-size: 12px;
        width: 20%;
        padding: 5%;
        margin-left: 70%;
    }
    .main-container{
        flex-direction: column;
        font-size: 16px;
        width: 64%;
        padding: 0%;
        margin-left: 20%;
        justify-content: flex;
    }
    ul {
        padding: 10px;
        font-size: 16px;
    }
    .ulAtletas{
        padding: 10px;
        font-size: 16px;
    }   
    .opcOlimpiadas{
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
        font-size: 14px;
        padding: 9px;
    }
    .btnmedallas{
        margin-left: 24%;
        font-size: 14px;
        padding: 5px;
    }
}
 
@media screen and (max-width: 360px) {
    table {
    width: 100%;
    }
    col {
        width: 90%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .root {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        font-size: 5px; 
        display: flex;     
    }
    .optionSports{
        flex-direction: column;
        font-size: 8px;
        width: 48%;
        padding: 5%;
        display: flex;
        justify-content: center;
    }
    .btnOrdenar {
        flex-direction: column;
        font-size: 6px;
        width: 24%;
        padding: 5%;
        margin-left: 70%;
    }
    .main-container{
        flex-direction: column;
        font-size: 8px;
        width: 64%;
        padding: 0%;
        margin-left: 20%;
        justify-content: flex;
    }
    ul {
        padding: 10px;
        font-size: 8px;
    }
    li{
        padding: 10px;
        font-size: 8px;
    }   
    th{
        font-size: 6px;
    }
    .opcOlimpiadas{
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
        font-size: 14px;
        padding: 9px;
    }
    .btnmedallas{
        margin-left: 24%;
        font-size: 14px;
        padding: 5px;
    }
    .pie a{
        font-size: 8px;
        padding: 0 6px;
        letter-spacing: 1px;
    }
    .seccion-medallas  {
        position: relative;
        margin-left: 10%;
        margin-top: 6%;
        width: 80%;
        height: 70%;
        padding: 10px;
      }
    h1{
        font-size: 11px;
    }
}
 
@media screen and (max-width: 320px) {
    table {
    width: 100%;
    }
    col {
        width: 90%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .root {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        font-size: 5px; 
        display: flex;       
    }
    .optionSports{
        flex-direction: column;
        font-size: 8px;
        width: 48%;
        padding: 5%;
        display: flex;
        justify-content: center;
    }
    .btnOrdenar {
        flex-direction: column;
        font-size: 6px;
        width: 25%;
        padding: 5%;
        margin-left: 70%;
    }
    .main-container{
        flex-direction: column;
        font-size: 8px;
        width: 64%;
        padding: 0%;
        margin-left: 20%;
        justify-content: flex;
    }
    ul {
        padding: 10px;
        font-size: 8px;
    }
    li{
        padding: 10px;
        font-size: 8px;
    }   
    th{
        font-size: 6px;
    }
    .opcOlimpiadas{
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
        font-size: 12px;
        padding: 9px;
    }
    .btnmedallas{
        margin-left: 24%;
        font-size: 12px;
        padding: 5px;
    }
    .pie a{
        font-size: 8px;
        padding: 0 6px;
        letter-spacing: 1px;
    }
    .seccion-medallas  {
        position: relative;
        margin-left: 10%;
        margin-top: 6%;
        width: 80%;
        height: 70%;
        padding: 10px;
      }
}
 
