*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;

}
html{
  height: 100%;
  width: 100%;
}
.label{
  padding: .5em;
  margin: .5em;
}

body{
  /* --color-blue-1: #151E23; */
  --color-blue-1: #ECF2F3;
  --color-blue-2: rgba(4, 21, 32, 0.877);
  --color-blue-3: #0F4C75;
  --color-blue-4: #fff;

}
.modal-font{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 1em;
  font-weight: bold;
}
.font{
  font-family: 'Baloo Thambi 2', cursive;
  text-align: center;
  text-transform: capitalize;
}
#modal-mode{  
  width:100%; 
	height:100%; 
	background: rgba(27, 25, 25, 0.801);
	position:fixed;
	top:0;
	left:0;
  display:none;
  z-index: 2;
}
#modal-window{
  top:20%;
  left: calc((100% - 600px)/2);
  background: #fff;
  border-radius: 1em;
  z-index: 2;
  width:600px;  
  height: 60%;
  display: none;  
  box-shadow: 0 0 20px rgb(33, 36, 35); 
  transition: 100s;

}
.fixed{
  position: fixed;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 #div-img-modal{
  z-index: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  top:-100px;
  background: #fff;
  /* border-top: #151E23 solid 2px; */
  color:#eee;
  border-radius: 8em;
  left:  calc((100% - 200px)/2);
  } #img-pokemon-modal{
    margin: 20px calc((100% - 120px)/2);
  }
  #body-modal{
    position: absolute;
    top:60px;
    height: 80%;
    width: 100%;    
    border-top: #a4e2cd solid 1px;
    padding: 10px 0;
    
  } #div-pokemon-name-modal{           
      font-size: 1em;
      font-weight: bolder;
      position: absolute;
      top :-10px;
      background:#fff;      
      width: 150px;
      left: calc((100% - 150px)/2);
      color: #04617e;
      text-transform: capitalize;
    
    }    
    .column-1{
      width: 30%;
      height: 50px;
      border-bottom: #a4e2cd solid 2px;
      margin: 3px;      
    }
    .column-2{      
      margin: 3px 1px;
      width: 48%;      
    }
    .column-3{
      width: 100%;      
    }     
    .icon-medium{
      width: 30px;
      height: 30px;
      margin: 2px;
    }
    .icon-center{
      margin-left: calc((100% - 90px)/2);
      margin-top: 5px;                  
    }
    .text-aling{
      text-align: center;
    }
    .data-section-2{
      font-size: 16px;
      display: block;      
    }.label-section{   
      font-weight: bolder;
      color: #338374;
      font-size: 12px;      
    }.label-data{
      display: block;
    }
    .section-modal{
      width: 100%;      
      text-align: center;
    }
    #sections-types{
      border-right: #a4e2cd solid 2px;
    }
    .pokemon-img-small{
      width: 80px;
      height: 80px;
      border: #fff solid 1px;
      border-radius: unset;
      margin: 3px;
    }    
    .pokemon-img-medium{
      width: 120px;
      height: 120px;
      margin: 2px;
      border: #fff solid 1px;
      border-radius: unset;
    }
    .div-evolution-img{
      width: 80px;
      height: 80px;
      border-radius: 100px;
      margin:1px ;
      background: #b4b0b0;
    } 
    #evolution{
      background: #333333;
      height: auto;
      padding: 1em;
    }   


.root{
  height: auto;
  width: auto;
  background: var(--color-blue-1);
  display: grid;
  grid-template-rows: repeat(4,auto) ;
}

#header-page{
  width: 100%;
  text-align: center;
  background: black; 
}
#logo-pokemon{
  
  height: 300px;    
}
#footer{
  width: 100%;
  height: auto;
  /* flex-direction: column; */
}
#img-footer{
  width: 100%;
  height: auto;
  display: block;  
  
}
#div-info-footer{
  /* padding-top:2em ; */
  color: aliceblue;
  width: 100%;
  height: 100px;  
  background: rgb(4, 21, 32);
  }

nav{
  background:var(--color-blue-2);
  top: 0;
  padding: .3rem ;
  height: 50px;
  display: flex;  
  justify-content: center;
  box-shadow: 0 0 10px 0 rgb(77, 80, 79);
  z-index: 1;  
} 

#logo-pokedex{
  font-weight: bold;
  padding: .3em .5em ;    
  font-size: 1em;
  color: white;
  font-family: 'Rammetto One', cursive;
}

aside{  
  width: 0;  
  z-index: 0;   
  height: auto;
  max-height: 1020px;
  background:#1B262C;
}
.option{
  position: relative;
  color: aliceblue;  
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  font-family: 'Baloo Thambi 2', cursive;
  padding: .5em;
  text-transform: capitalize;
  
  
}
.menu-option{  
  padding: .5em;
  display: block;
  text-align: center;
  border-bottom: #b4b0b0 solid 1px;
  background:var(--color-blue-3);
}

.section-filter-by ul li,
.section-order-by ul li{
  /* background:#1B262C; */
  border-bottom:rgb(41, 55, 63) solid 1px;  
}
.section-filter-by ul li:hover,
.section-order-by ul li:hover{
  background: #fff;
  color: #333;
};


.section-order-by li,
.section-filter-by li,
.section-calculate li{ 
  
  border-bottom: aliceblue solid 1px;
  min-width: 250px;
}



.icon-filter{
  position: absolute;
  left: 1em;
  top: .2em;
}

.section-calculate{
  display: none;
}

  .icon-small{
    width: 20px;
    height: 20px;
  }
  .btn-close-img{      
    position: absolute;
    background: orange;
    right: .5em;
    top: .5em;  
    z-index: 1;      
    }    
section{  
  height: inherit;
  width: 100%;
  justify-content: center;
  /* background: grey; */
}

#input-bar-search{
  margin: 0;
  padding: .3em;
  width: 60%;
  border-radius: 3px;
  max-width: 800px;
  min-width: 100px;
  border:none;
  outline: none;
  color: #333333;
  right: 0;
}
  #icon-bar-search{
    margin: 0;
    padding:.5em;
    height: auto;
    right: 0;
    border-radius: 0 3px 3px 0;
    border: none;    
  }
    #img-icon-bar-search{
      height: 20px;
      margin: 0;
    }

.top-menu{  
  top: 50px;
  background-color: #fff;  
  z-index: 1;
  border-bottom:var(--color-blue-3) solid 1px;
  justify-content: space-around;
}
.top-menu a{
  display: inline-block;  
  margin: 0;
  padding: .5em;
  color: var(--color-blue-3);
  
}
.top-pagination{
  display: none;
}

/* #card-container{
  display: block;
  width: auto;
  color: var(--color-blue-4);
} */
  #card-container-block{
    display: none;
  }
  #card-container-flex{    
    justify-content: center;
  }
  .card-container-normal{
    display: block;
  }
  .card-container-grid{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
  }
  .title{
    padding: 1em;
    width: 100%;
    background: #338374;
    position: relative;
  }

.slider{  
  margin: 1em 0;  
  min-width: 200px;
  width: 100%;
  height: auto;
  position: relative; 
  overflow: hidden; 
  z-index: 0;  
}  
.title-slider{
  padding: 1em;
  width: 100%;
  background: #338374;
  position: relative;
}
.title-slider > * {
  display: inline;
}
.title-slider a{
  position: absolute;
  right: 1em;
}
.show-more{
  text-decoration: underline;
  cursor: pointer;
}
.slide-cards{       
  display: flex;
  transition: 0.3s left ease-in-out;  
  position: absolute;
  left: 0;  
}
.slide{
  height: 220px;
  position: relative;
  overflow-x: scroll;
}
.slide::-webkit-scrollbar {
  display: none;
}
.ctrl-btn{
  cursor: pointer;
  top:45%;
  width: auto;
  padding: .5em;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  border: none;
  background: none;
}  
.ctrl-btn:hover {
  background-color:#151E23;
}
.ctrl-prev{
  left: 0;
}
.ctrl-next{
  right: 0;
}

 .div-container-filter{
   border: 1px solid black;
   width: 100%;
   height: 33%;
   display: grid;
   grid-template-columns: 5% 90% 5%;
   grid-template-rows: 10% 90% ;
   background-attachment: scroll;
 }
  .div-container-filter p{
   font-size:large;
   grid-column: 1/4;
  }
  .div-card-container-filter{
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-blue-4);
  }
  .button-back{
    width: 100%;
    height: 20%;
    align-self: center;
    justify-self: start;
  }
  .button-next{
    width: 100%;
    height:30%;
    align-self: center;
    justify-self: end;
  }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.pokemon-card{
  width: 150px;
  height:200px;
  /* border-radius: 10px 0 10px 0; */
  margin: 7px;
  box-shadow: 0 0 10px rgb(77, 80, 79); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:rgba(56, 55, 55, 0.705);  
  /* background: var(--color-blue-2); */
}

.pokemon-name{
  padding: .3rem 0;
  width: 140px ;
  height: 25px ;
  text-align: center;
  text-transform: capitalize;
  color:var(--color-blue-4);
}
  .img-pokemon{
    width: 140px;
    height:140px;
  }
.pokemon-types{
  padding: .3rem;
  height: 30px;
}
.pokemon-type{
  border-radius: 3px;
  color: var(--color-blue-4);
  font-size: 12px;
  display: inline;
  padding: .3rem;
  margin: .3em;
}

.sticky{
  position: sticky;
}


@media screen and (max-width:699px){
  .slide{   
    width: 320px;
    margin-left: calc((100% - 320px)/2);
  }
  #card-container{
    min-height: 500px;
  }
}

@media screen and (min-width:700px) and (max-width:1024px){  
  .slide{
    width: 650px;
    margin-left: calc((100% - 650px)/2);
  }
  main{
    min-width: 700px;
    min-height: 800px;
  }
}

@media screen and (min-width:1025px){  
  .slide{
    width: 820px;
  }
  main{
    min-width: 840px;
    min-height: 800px;
  }
}
 
@media screen and (max-width:1023px){ 
  .top-menu{
    display: flex;
    position: sticky;    
    min-width: 380px;  
  }
  aside{  
    height: 100%;      
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 2;  
    transition: 0.5s;    
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;     
  }   

  .section-order-by  li ul,
  #filter-options{
        display: block;
  }  
  #modal-window{    
    width: 95%;
    left: calc(5%/2);    
  }  

}
  
  @media screen and (min-width: 1024px) {    
    #logo-pokedex{
      padding-right: 8em;
    }    
    #section-body-conteiner{
      display: grid;
      grid-template-areas:"lateral-menu  top  top"
                          "lateral-menu main main";
      grid-template-rows: 80px auto;
      grid-template-columns: 300px auto;
      grid-gap: 1em;
      padding: .5em;
      min-width: 716px;  
    }      
    aside{
      grid-area: lateral-menu;  
      width: 100%;
      min-width: 300px;      
    }    
    #close-menu{
      z-index: 0;
      display: none;
    }      
      .section-order-by,
      .section-filter-by,
      .section-calculate{
        display: block;
      }                        
    
    #top-pagination{
      grid-area: top;
      background: #fff;
      display: inline;
      padding: 1em;
    }    
      .pagination-button{        
        background: var(--color-blue-3);
        color: #fff;
        padding: .5em;      
        font-size: .8em;
      }    
    main{
      grid-area: main;
      height: auto;
      width: auto;
      max-width: 830px;
    }
    .top-menu{
      display: none;
    }
    .top-menu-option{
      display: none;
    }
    #aside{
      display: block;      
    }     
      
          
  }


