    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body::-webkit-scrollbar {
	width: 20px;
	background: rgba(8, 21, 29, 0.87);
}

body::-webkit-scrollbar-thumb {
	background: rgba(235, 178, 24, 0.719);
	border-radius: 10px;
	border-right: 6px solid #807729;
}
.padre{
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Spectral', serif; 
}   
  /*fondo de pantalla
background-image: url(https://i.pinimg.com/originals/7c/f9/28/7cf92868b50c428c103210ae3391be02.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;

background-position: center;
background-attachment:contain;
background-size: cover;*/

  .header{
    background:rgba(10, 10, 26, 0.616);
    display: flex;
    flex-flow: column nowrap;
  }
    .encabezado{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: auto;
      height: 145px;
      background: #061D29; /*background:rgba (0,0,0,.1) - transparencia de color negro*/

      border-bottom: 3px solid rgba(235, 178, 24, 0.719);

    }
      .logoLol{
        flex: 1 1 auto;
        position: relative;
        display: inline-block;
        left: 68px;
        top: -1px;
      }
        .logo{     
          width: 260px;
          height: 120px;
          display: flex;
          align-items: flex-end;
        }
        .formBuscador{
          background: #C4C4C4;
          width: 300px;
          height: 41px;
          margin: 68px;
          border-radius: 5px;;
        } /*para enlazar iconos <i class:"" aria-hidden="true></i>"*/

    .menu{
      background:rgb(63, 65, 66);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 60px;
    }
    .estiloBoton {
      background: transparent;
      border: none;
      color: rgba(235, 179, 24, 0.945);
      font-family: serif;
      margin: 27px;
      font-size: 21px;
      text-shadow: -1px 2px 4px rgb(117, 116, 116);
    }
    .estiloBoton:hover{
      transform: scale(1.1);
      transition: 0.5;  
    }
    .cantidadMostrada{
      background:#31302E;
      color: rgba(235, 179, 24, 0.945);
      font-family: serif;
      font-size: 21px;
      border: none;
      position: relative;
      text-align: end;
      margin-right: 30px;
    }
  main{
    background:#31302E;
  }

    .lista{
      display: flex;
      flex-flow: row nowrap;

      margin: 15px;
    }
      .galeriaDeCampeones{
        display: flex;
        flex-wrap: row nowrap;
        flex: 1 1 auto;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 25px;
      }
        .casillaCampeon{
          margin: 15px;
          padding: 10px;
          display: flex;
          flex-flow: column nowrap;
          flex: 3 1 auto;

          width: 295px;
          height: 370px;
          box-sizing: border-box;
        }
        .casillaCampeon:hover{
          transform: scale(1.1);
          transition: 0.5;  

        }
        .imagenCampeon{
          width: 270px;
          height: 290px;
          border: 4px solid rgba(235, 178, 24, 0.719);
          border-radius: 5px;
          box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
        }
        .nombreCampeon{
          text-align: center;
          font-size: 36px;
          line-height: 70px;
          color: #FFFFFF;}
  .roles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 25px;
    margin: 20px;
    padding: 9px;
  }
  .divRol{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 33%;
    justify-items: center;
    align-items: center;
    grid-gap: 12px;
  }
  .divRol:hover{
    transform: scale(1.1);
    transition: 0.5;  
  }
  .styleInput{
    background: rgba(224, 37, 37, 0.856);
    border: 4px solid rgba(235, 202, 18, 0.856);
    border-radius: 122px;
    width: 168px;
    height: 167px;
    box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
  }
  .pRoles{
    text-align: center;
    font-size: 29px;
    line-height: 35px;
    color: #FFFFFF;
  }
  .detalleCampeon{
    display: grid;
    grid-template-columns: 34% 51%;
    grid-template-rows: 86%;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    margin: 34px;
  }
  .imgCampeon{
    width: 473px;
    margin: 29px;
    padding: 2px;
    height: 553px;
    margin-left: 113px;
    border: 4px solid rgba(170, 146, 8, 0.856);
  }
  .descripcionCampeon{
    background: #BCAB4F;
    width: 681px;
    height: 553px;
    text-align: center;
    font-size: 29px;
    line-height: 35px;
    color: rgb(97, 91, 91);
    padding: 30px;
    margin-left: 214px;
    border-radius: 5px;
  }
  .footer{
    background: rgb(28, 28, 29);
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 90px rgb(28, 28, 29);
    margin-bottom: 0;
  }
  /*responsive para tablet no se si sea necesario,probando*/
  /*@media all and (max-width: 800px){
    .menu{
      flex-direction: column;
      height: auto;
    }
  }
  @media all and (max-width: 400px){
    .galeriaDeCampeones{
      flex-direction: column nowrap;
      height: auto;
    }
    .casillaCampeon{
      width:10px;

    } */

  #error {
    background: #707b15;
    padding: 10px 10px 10px 10px;
}
.ocultar{
  display: none;
}

.contenedorSubir{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  z-index: -1;
}
.botonSubir{
  width: 0px;
  height: 0px;
  background: rgba(10, 27, 37, 0.767);
  border: 4px solid rgba(248, 199, 64, 0.952);
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.botonSubir img{
  position: absolute;
  font-size: 25px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  transition: .2s;
}
.show{
  z-index: 10;
}
.show .botonSubir{
  animation: popup .3s ease-in-out;
  width: 66px;
  height: 66px;
  z-index: 11;
}
.show img{
  transform: translate(-50%, -50%) scale(1);
}
@keyframes popup{
  0%{
    width: 0px;
    height: 0px;
  }
  50%{
    width: 80px;
    height: 80px;
  }
  100%{
    width: 66px;
    height: 66px;
  }
}

.cantidadMostrada {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  padding: 3px;
  font-weight: 500;
  font-size: 25px;
  color:  rgba(235, 178, 24, 0.719); 
  background-color: #31302E;
}

/* MOVIL*/
@media (max-width: 768px){
  .logo{
    position: absolute;
    width: 210px;
    height: 100px;
    left: 10px;
    top: 40px;
    background:  rgba(0, 0, 0, .0.1);
    display: flex;
    align-items: flex-end;
  }
 /* Boton del Search - MOVIL */
  body{
    margin: 0%;
    padding: 0%;}

  .formBuscador {
    width: 40px;
    left: 90px;
  }
  .buscador{
    display: none;
    
  }
  .formBuscador:hover > .buscador{
    width: -300px;
  }
 };