
*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F2F2F2;
    font-family: 'Rubik', sans-serif;
}

.margin-bottom {
    margin-bottom: 3em;
}

.center {
    max-width: 1000px;
    margin: auto;
}

.head {
    width: 100%;
    height: 160px;
    background-image: linear-gradient(to bottom,  #266378, #266378,  #266378, #047887, #008d8d, #18a18c, #4ab483);
    border-radius: 0 0 18px 18px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: -100px;
    z-index: 10;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.35);
}

.banner {
    height: 100px;
    background: url(assets/pokebolas-01.png);
    line-height: 100px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.banner-content p {
    opacity: 100%;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2.5rem;
    color: #FFF;
}

.menu {
    height: 35px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

.menu div {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

.menu-style {
    display: inline-block;
    color: #FFF;
    font-size: 21px;
    font-weight: 550;
    margin-right: 40px;
    cursor: pointer;
    padding-top: 5px;
}

.menu img {
    padding: 2px 5px;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.menu input {
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    opacity: 70%;
    width: 210px;
    padding: 0 5px;
    font-size: 1em;
}

.icon-search {
    color: #FFF;
    font-size: 23px;
    padding: 6px;
    order: 1;
}

.menu-style:hover {
    color: rgba(0, 0, 0, 0.7);
}

.menu img:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.center {
    max-width: 1000px;
    margin: auto;
}

.sort-container {
    display: block;
    text-align: right;    
}
.sort-container select {
    width: 6em;
    border: 2px solid #3B4859;
    background-color: #F2F2F2;
    cursor: pointer;
}

.cards-distribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-bottom: 1.5em;
    width: 100%;
}

.distribution-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin-bottom: 1.5em;
    width: 100%;
}

.pokemon-card {
    width: 170px;
    height: 170px;
    background-color: #FFF;
    margin-bottom: 3em;
    padding: 1em;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
    font-size: 1em;
    color: #3B4859;
    cursor: pointer;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1em;
}

.pokemon-number {
    text-align: left;
}

.subtitles {
    /* width: 100%; */
    /* border: 1px solid black; */
    height: 40px;
    display: flex;
    align-items: center;
}

.line{
    /* border: 1px solid black; */
    /* display: inline-block; */
    width: 75%; 
    height: 5px;
    background-color: #F25749;
    border-radius: 0px 5px 5px 0px;
}

.arrow {
    width: 250px;
    height: 40px;
    line-height: 40px;
    background-color: #F25749;
    position: relative;
    border-radius: 5px 0 0 5px;
    z-index: -5;
}

h2 {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin-left: 10px;
}

.arrow::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #F25749;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 1rem;
    height: 1rem;
    z-index: -3;
}


.got-top span{
    position: absolute;
    font-size: 1.7rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s;
}

.go-top {
    display: inline-block;
    position: relative;
    width: 0rem;
    height: 0rem;
    font-size: 60px;
    border-radius: 60%;
    color:transparent;
    background: linear-gradient(to bottom, #266378, #047887, #008d8d, #18a18c, #4ab483);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.15), -3px -3px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .3s;
    z-index: -1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.show{
    z-index: 10;
}

.show .go-top {
    animation: popup .1s ease-in-out;
    width: 3.7rem;
    height: 3.7rem;
    color: #ffffff;
    z-index: 11;
    transform: translate(-50%, -50%) scale(1);
}
.show span{
    transform: translate(-50%, -50%) scale(1);
}

/* Creando estilos para el todo filtrado*/
.filter-content {
    background-image: linear-gradient(to bottom,  #4ab483, #18a18c, #008d8d, #047887, #266378, #266378, #266378);
    padding-top: 0;
    width: 18%;
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 520;
    transform: translate(0px, -68px);
    z-index: 100;
    list-style: none;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 109px;
    text-align: left;
}
#btn-filter {
    display: none;
}
header label {
    color: #FFF;
    font-size: 23px;
    padding: 6px;
    cursor: pointer;
    display: none;
}
.filter-menu ul {
  /*background-image: linear-gradient(to bottom,  #266378, #266378,  #266378, #047887, #008d8d, #18a18c, #4ab483);*/
    display: flex;
    list-style: none;
}
.filter ul ul {
    display: none;
}
.filter-menu a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.filter-menu a:hover {
    background: rgba(0,0,0,0.3);
}
.filter-menu a span {
    margin-left: 10px;
}
.filter-menu ul li:hover ul {
    display: block;
    position: absolute;

}

.icon-ctrl {
    color: #FFF;
    font-size: 23px;
    padding: 6px;
}


/* Fin de filtrado */


@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 2rem;
        height: 2rem;
    }
    100%{
        width: 3.7rem;
        height: 3.7rem;
    }
}

@media (max-width: 600px) {
    .hide {
        display: none;
    }

    .menu-style {
        border-right: 3px solid #FFF;
        width: 30px;
        height: 30px;
        padding-left: 10px;
        margin-right: 0;
        box-sizing: content-box;
    }

    #filter-search {
        position: absolute;
        top: 95px;
        left: 0;
        width: 88%;
        height: 40px;
        display: none;
        opacity: 100%;    
    }

    .icon-search:hover ~ #filter-search {
        display: block;
    }

    #filter-search:focus {
        display: block;
    }

    .icon-search {
        font-size: 25px;
        padding: 5px 7px;
        border-left: 3px solid #FFF;
        cursor: pointer;
    }

    .icon-search:hover {
        color: rgba(0, 0, 0, 0.7);
        font-size: 25px;
        padding: 5px 7px;
        border-left: 3px solid #FFF;
    }

    .content {
        width: 90%;
        display: inline-block;
    }

    .pokemon-card {
        width: 43%;
        height: auto;
        margin-bottom: 2em;
        padding: 0.5em;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.15), -3px -3px 10px rgba(0, 0, 0, 0.15);
        font-size: 0.8em;
        color: #3B4859;
        cursor: pointer;
    }

    .pokemon-image {
        width: 75%;
    }

    .banner-content {
        justify-content: center;
    }

}

@media (max-width: 1000px) and (min-width: 600px) {
    .center {
        width: 90%;
        margin: auto;
    }

    .line {
        display: none;
    }

    span.hide {
        display: none;
    }

    .menu-style {
        border-right: 3px solid #FFF;
        width: 30px;
        height: 30px;
        padding-left: 10px;
        margin-right: 0;
        box-sizing: content-box;
    }

    .menu-style:first-child {
        border-left: 3px solid #FFF;
    }
}
