/**{
    box-sizing: border-box;
}*/

@media(min-width:1024px){
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .class-div {
        display: inline-block;
    }
    

    .class-img {
        margin: 1em 1em 0em;
        /*padding-top: 2em;*/
        width: 28em;
        height: 18em;
    }

    .class-name {
        font-size: x-large;
        font-family: 'Acme', sans-serif;    
        font-weight: bolder;
        text-align: center;
        background-color: #C4C4C4;
        margin: 0em 0.7em 1em;     
        padding: 0.5em;            
    }

    /*.header {
        height: 20em;
        top: 0;
        width: 85%;  
    }*/
}

