*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 
body::-webkit-scrollbar {
width: 20px;
background: rgba(1, 15, 24, 0.651);
}

body::-webkit-scrollbar-thumb {
background: rgba(235, 178, 24, 0.719);
border-radius: 10px;
border-right: 6px solid #807729;
}
.ocultar{
  display: none;
}

.mostrar {
  display: block;
}
.padre{
display: flex;
flex-flow: column nowrap;
font-family: 'Spectral', serif; 
background-image: url(https://www.educo.org/Educo/media/Imagenes/Blog/9-cosas-que-los-padres-deberian-saber-sobre-League-of-Legends-destacada.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 100%;
position: absolute;
}
/*fondo de pantalla
background-image: url(https://i.pinimg.com/originals/7c/f9/28/7cf92868b50c428c103210ae3391be02.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;

background-position: center;
background-attachment:contain;
background-size: cover;*/

/* .video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
/* padding-top: 30px; /* IE6 workaround*/
/* height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; */
/* }  */

        .logo{     
          width: 260px;
          height: 120px;
          display: flex;
          align-items: flex-end;
          position: relative;
          left: 63px;
        }
        .formBuscador{
          background: #C4C4C4;
          width: 300px;
          height: 41px;
          margin: 68px;
          border-radius: 5px;
          position: relative;
          left: 638px;
        } /*para enlazar iconos <i class:"" aria-hidden="true></i>"*/
        .iconBuscar{
          width: 46px;
          height: 44px;
          position: relative;
          left: 690px;
          border-radius: 6px;
          background: #C4C4C4;
        }
        /* .iconBuscar label::after {
          left: 0;
          bottom: 0;
          opacity: 0;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          transition: transform 0.3s ease;
          border-bottom: 0.125rem solid #07cbe9;
      } */
      .contenedorVideo {
        position: fixed;
        z-index: 6;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: grid;
        grid-template-rows: 20% 80%;
      }
      /* .contenedorVideo{
        display: none;
      } */
      .cerrar{
        font-size: 30px;
        padding: 0em 0em 0em 37em;
        position: absolute;
        top: 22px;
        /* background: rgba(63, 65, 66, 0.973); */
        border-radius: 5px;
        color: rgba(235, 178, 24, 0.719);
      }

      .pantallaVideo{
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }
        
        .pantallaVideo iframe,
        .pantallaVideo object,
        .pantallaVideo embed {
        position: absolute;
        top: 69px;
        left: 118px;
        width: 71%;
        height: 63%;    
        }
    .menu{
      background:rgba(63, 65, 66, 0.973);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 60px;
    }
    .estiloBoton {
      background: transparent;
      border: none;
      color: rgba(235, 179, 24, 0.945);
      font-family: serif;
      margin: 27px;
      font-size: 21px;
      text-shadow: -1px 2px 4px rgb(117, 116, 116);
    }
    .selectStyle {
      background: transparent;
      border: none;
      color: rgba(235, 179, 24, 0.945);
      font-family: serif;
      margin: 27px;
      font-size: 21px;
      text-shadow: -1px 2px 4px rgb(117, 116, 116);
    }
    .estiloBoton:hover{
      transform: scale(1.1);
      transition: 0.5;  
    }
    .selectStyle:hover{
      transform: scale(1.1);
      transition: 0.5;  
    }
    .cantidadMostrada{
      background:transparent;
      color: rgba(235, 179, 24, 0.945);
      font-family: serif;
      font-size: 21px;
      border: none;
      position: relative;
      text-align: end;
      margin-right: 30px;
    }
  main{
    background:rgba(49, 48, 46, 0.699);
  }
      .logo{     
        width: 260px;
        height: 120px;
        display: flex;
        align-items: flex-end;
        position: relative;
        left: 63px;
      }
      .formBuscador{
        background: #C4C4C4;
        width: 300px;
        height: 41px;
        margin: 68px;
        border-radius: 5px;
        position: relative;
        left: 638px;
      } /*para enlazar iconos <i class:"" aria-hidden="true></i>"*/
      .iconBuscar{
        width: 46px;
        height: 44px;
        position: relative;
        left: 690px;
        border-radius: 6px;
        background: #C4C4C4;
      }
      /* .iconBuscar label::after {
        left: 0;
        bottom: 0;
        opacity: 0;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform 0.3s ease;
        border-bottom: 0.125rem solid #07cbe9;
    } */
    

  .menu{
    background:rgba(63, 65, 66, 0.973);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 60px;
  }
  .estiloBoton {
    background: transparent;
    border: none;
    color: rgba(235, 179, 24, 0.945);
    font-family: serif;
    margin: 27px;
    font-size: 21px;
    text-shadow: -1px 2px 4px rgb(117, 116, 116);
  }
  .selectStyle {
    background: transparent;
    border: none;
    color: rgba(235, 179, 24, 0.945);
    font-family: serif;
    margin: 27px;
    font-size: 21px;
    text-shadow: -1px 2px 4px rgb(117, 116, 116);
  }
  .estiloBoton:hover{
    transform: scale(1.1);
    transition: 0.5;  
  }
  .selectStyle:hover{
    transform: scale(1.1);
    transition: 0.5;  
  }
  .cantidadMostrada{
    background:transparent;
    color: rgba(235, 179, 24, 0.945);
    font-family: serif;
    font-size: 21px;
    border: none;
    position: relative;
    text-align: end;
    margin-right: 30px;
  }
main{
  background:rgba(49, 48, 46, 0.699);
}

  .lista{
    display: flex;
    flex-flow: row nowrap;

    
  }
    .galeriaDeCampeones{
      display: flex;
      flex-wrap: row nowrap;
      flex: 1 1 auto;
      flex-wrap: wrap;
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10px; */
    }
      .casillaCampeon{
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        flex: 3 1 auto;

        width: 295px;
        height: 370px;
        box-sizing: border-box;
      }
      .casillaCampeon:hover{
        transform: scale(1.1);
        transition: 0.5;  

      }
      .imagenCampeon{
        width: 290px;
        height: 300px;
        border: 2px solid rgba(235, 178, 24, 0.719);
        border-radius: 5px;
        box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
      }
      .nombreCampeon{
        text-align: center;
        font-size: 36px;
        line-height: 70px;
        color: #FFFFFF;}
.roles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 25px;
  margin: 20px;
  padding: 9px;
}
.divRol{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 33%;
  justify-items: center;
  align-items: center;
  grid-gap: 12px;
}
.divRol:hover{
  transform: scale(1.1);
  transition: 0.5;  
}
.styleInput{
  background: rgba(255, 255, 255, 0.856);
  border: 4px solid rgba(235, 202, 18, 0.856);
  border-radius: 122px;
  width: 168px;
  height: 167px;
  box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
}
.pRoles{
  text-align: center;
  font-size: 29px;
  line-height: 35px;
  color: #FFFFFF;
}
.detalleCampeon{
  display: grid;
  grid-template-columns: 34% 51%;
  grid-template-rows: 86%;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  margin: 34px;
}
.imgCampeon{
  width: 473px;
  margin: 29px;
  padding: 2px;
  height: 553px;
  margin-left: 113px;
  border: 4px solid rgba(170, 146, 8, 0.856);
}
.descripcionCampeon{
  background: #BCAB4F;
  width: 681px;
  height: 553px;
  text-align: center;
  font-size: 29px;
  line-height: 35px;
  color: rgb(97, 91, 91);
  padding: 30px;
  margin-left: 214px;
  border-radius: 5px;
}
.footer{
  background: rgb(28, 28, 29);
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 90px rgb(28, 28, 29);
  margin-bottom: 0;
}

#error {
  background: #707b15;
  padding: 10px 10px 10px 10px;
}

.contenedorSubir{
position: fixed;
bottom: 40px;
right: 40px;
width: 60px;
height: 60px;
z-index: -1;
}
.botonSubir{
width: 0px;
height: 0px;
background: rgba(10, 27, 37, 0.767);
border: 4px solid rgba(248, 199, 64, 0.952);
border-radius: 50%;
cursor: pointer;
transition: .2s;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
}
.botonSubir img{
position: absolute;
font-size: 25px;
top: 48%;
left: 50%;
transform: translate(-50%, -50%) scale(0);
color: white;
transition: .2s;
}
.show{
z-index: 10;
}
.show .botonSubir{
animation: popup .3s ease-in-out;
width: 66px;
height: 66px;
z-index: 11;
}
.show img{
transform: translate(-50%, -50%) scale(1);
}
@keyframes popup{
0%{
  width: 0px;
  height: 0px;
}
50%{
  width: 80px;
  height: 80px;
}
100%{
  width: 66px;
  height: 66px;
}
}
.sectionAvage{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
gap: 30px;
margin: 40px;
}
.styleAverage{
width: 500px;
height: 53px;
margin: 25px;
padding: 10px;
background: rgba(3, 28, 41, 0.767);
color: #C4C4C4;
border-bottom: 3px solid rgba(235, 178, 24, 0.719);
border-radius: 6px;
text-align: center;
font-size: 21px;
line-height: 36px;
text-shadow: -1px 2px 4px rgba(39, 38, 38, 0.856);
font-family: serif;
box-shadow: 1px 10px 17px 3px rgba(0,0,0,0.75);
}
.mapLol{
width: 488px;
box-shadow: 1px 10px 17px 3px rgba(0,0,0,0.75);
border-radius: 8px;
}
/*-------------------------------------------------------------------------------------------------------
 DESKTOP

@media(max-width:768px){   

}*/

/*-------------------------------------------------------------------------------------------------------
 MOVIL*/
@media all and (max-width: 400px){
.logo{
  width: 200px;
  height: 90px;
  margin: 30px;
  position: relative;
  left: 10px;
}
.formBuscador{
  display:none;
}
.iconBuscar{
  width: 50px;
  position: relative;
  left: 30px;
}

.estiloBoton  {
  width: 90px;
  height: 30px;
  list-style: none;
  font-size: 20px;
  margin: 10px;
  position: relative;
  right: 25px;
  border-bottom: 1px solid rgba(245, 180, 5, 0.719);
}
.selectStyle {
  width: 90px;
  height: 30px;
  list-style: none;
  font-size: 20px;
  margin: 0px;
  position: relative;
  right: 36px;
  border-bottom: 1px solid rgba(245, 180, 5, 0.719);
}

.galeriaDeCampeones{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
   /* .roles {
   display: grid;
  grid-template-columns: 1fr; 
}*/
};

/* .styleAverage{
margin: 25px;
padding: 10px;
background: rgba(3, 28, 41, 0.767);
border-bottom: 3px solid rgba(235, 178, 24, 0.719);
border-radius: 6px;
text-align: center;
text-shadow: -1px 2px 4px rgb(25, 23, 23);
font-family: serif;
box-shadow: 1px 10px 17px 3px rgba(0,0,0,0.75);
} */
/* Boton del Search - MOVIL 
body{
  margin: 0%;
  padding: 0%;}

.formBuscador {
  width: 40px;
  left: 90px;
}
.buscador{
  display: none;
  
}
.formBuscador:hover > .buscador{
  width: -300px;
}
};*/
 /* @media all and (max-width: 800px){
  .menu{
    flex-direction: column;
    height: auto;
  } 
}  */
