@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2rifwi');
  src:  url('fonts/icomoon.eot?2rifwi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2rifwi') format('truetype'),
    url('fonts/icomoon.woff?2rifwi') format('woff'),
    url('fonts/icomoon.svg?2rifwi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort_by_alpha:before {
  content: "\e912";
}
.icon-format_line_spacing:before {
  content: "\e906";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-keyboard_arrow_right:before {
  content: "\e909";
}
.icon-keyboard_arrow_up:before {
  content: "\e90a";
}
.icon-unfold_more:before {
  content: "\e90b";
}
.icon-arrow_back_ios:before {
  content: "\e90c";
}
.icon-arrow_forward_ios:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-filter_list_alt:before {
  content: "\e90f";
}
.icon-calculator:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e914";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-funnel:before {
  content: "\e911";
}
.icon-funnel:before {
  content: "\e911";
}
.icon-css3:before {
  content: "\e901";
  color: #1572b6;
}
.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-github:before {
  content: "\e902";
}
.icon-googleplay:before {
  content: "\e913";
  color: #607d8b;
}
.icon-html5:before {
  content: "\e903";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e904";
  color: #f7df1e;
}
.icon-whatsapp:before {
  content: "\e905";
  color: #25d366;
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
.icon-filter:before {
  content: "\ea5b";
}
