:root {
  --color-black: #000;
  --color-nav-dark: #2d2e2e;
  --color-nomain: #F2EFEF;
  --color-otro: #d0ff00;
  --color-white: #fff;
  --color-dorado: #937341;
}

/*valores por defecto*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*contenedor general*/
body {
  background-image: url(img/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial;
}

/*trabajando el banner, los li de los roles y menu hamburguesa en el header*/
header { 
width: 100%;
background-color: var(--color-black);
}

#btn-menu { /* para que no se vea el input checkbox*/
  display: none;
}

/* dimensiones del label que contiene la img icono-menu */
header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  /* border: 1px solid var(--color-dorado); */
}

/* estilo al label que contiene la img icono-menu :cambia de color al hacer hover */
header label:hover {
  cursor: pointer;
  background: var(--color-nav-dark);
}

.main-nav ul{
  /*display: flex;
  background-color: var(--color-black);*/
  margin-top: 0 auto; /*para poder separar la lista del header NOTA: no veo que eso suceda*/
  /*flex-wrap: wrap;/*envoltura flexible*/
  border: 1px solid var(--color-dorado); /* borde dorado al ul y no a cada li*/
  box-shadow: 0 0 1px rgb(255, 255, 252);
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.main-nav li{
  flex-grow: 1;
  text-align: center;
  line-height: 2.5;
  /*border: 1px solid var(--color-dorado);*/  /* borde dorado a cada li*/
}

/* estilo a los li de roles y ordenar: cambia de color al hacer hover*/
.main-nav li:hover {
  background:#878a8a73;
  /*background:#93734148;*/
}

.main-nav li a{
  /*position: relative;*/
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dorado); /*color del texto de cada a*/
  /*font-weight: bold;*//*tener la letra en negrita*/
}

@media (max-width:768px) {
  header label {
    display: block;
  }
  .main-nav {
    position: absolute; /*estaba en absolute pero las imagenes quedaban montadas sobre los li. si pongo relative no quedan asi pero sale un fondo negro que no se va*/
    background: var(--color-black); /*color de fondo del ul al ser desplegado*/
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
  }
  .main-nav ul{
    flex-direction: column;
    /*z-index: 1100; Aqui tampoco nunca iba a funcionar. Solo en #btn-menu:checked ~ .main-nav logre que funcionase*/
  }
  /*.main-nav li { /*ya no necesito el borde superior dorado porque el box se pone amarillo al selecionar*/
  /*  border-top: var(--color-dorado);
  }*/
  #btn-menu:checked ~ .main-nav {
    margin: 0;
    z-index: 1;
    
  }
  /* #btn-menu:checked ~ .main-container { ya no es necesario. Solo poniendo z-index:1 en #btn-menu:checked ~ .main-nav ya funciona y no se superpone la imagen al li
        z-index: -1;
  } */

}


/*utilizando active*/
li.active a {
  font-weight: bold;
  /*height: 0.2px; /*no se que hace pero cuando lo comente ya no se superponian los li cuando se desmarcaban. Si se comenta, el li selecionado se queda amarillo*/
  /*bottom: 0; no se que hace*/
  /*border-radius: 8px;*/
  background:rgba(243, 168, 5, 0.842);/*color del cuadrado al elegir la opcion rgb(241, 178, 59);*/
  color: var(--color-black);/*color que tendra el texto al elegir la opcion*/
  text-shadow: 0 0 1px rgb(255, 255, 252);
  transition: all 0.1s ease-in-out 0.1s;
}
 /* estilo para que el banner de la img dentro del header se ajuste al ancho del padre*/

 .banner-lol {
  width: 100%;
}










/*trabajando con las imagenes y nombres*/
.class-div {
  background-color: rgb(6, 28, 37);
  display: inline-block;
  position: relative; /*estaba relative*/
  margin-top: 1%;
  transform-style: preserve-3d;/*animacion*/
  transition: 1.5s;/*animacion*/
  transition: all 0.3s linear;/*ease*/
  cursor: pointer;
  border: 1px solid var(--color-dorado);
}

/*agregando hover al div de los campeones*/
div:hover{
 transform: scale(0.96);
 background:rgba(243, 168, 5, 0.842);
  /*background-color: rgb(6, 95, 131);*/
}

/* dandole estilo a la section dentro del main con class="main-container"*/
.galery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  /*z-index: -1100; /* aqui nunca iba a funcionar, imag todavia superponen al main-nav*/
}

.class-img {
  margin: 0;
  width: 307px;
  height: 200px;
}

@font-face{
  font-family: 'Acme', sans-serif; /*tipo de letra(fuente)*/
  src: url('fonts/Acme-Regular.ttf'); /*fuente personalizada desde mi carpeta*/
}

.class-name {
  font-size: 1.2em;
  font-family: 'Acme', sans-serif;/*lo menciono para que aqui se utilize la fuente*/
  font-weight: bolder;
  text-align: center;
  /*background-color: rgb(6, 28, 37);*/
  margin-top: -0.2em;/*15*/
  padding: 0.10em;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

/*estilo al calculo*/
.class-new{
  font-size: 1.6em;
  font-family: 'Acme', sans-serif;/*lo menciono para que aqui se utilize la fuente*/
  font-weight: bolder;
  text-align: center;
  /*background-color: rgb(6, 28, 37);*/
  margin-top: -0.2em;/*15*/
  padding: 0.10em;
  text-transform: uppercase;
  color: var(--color-dorado);
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

/*intentando darle otro estilo de hover sobre el calculo*/
.class-new:hover{
  transform: scale(0.96);
  /* color: var(--color-black);
  background:rgba(243, 168, 5, 0.842); */
}

/*estilo a la estadistica ofensiva de cada campeon*/
.class-avg{
  font-size: 1em;
  font-family: 'Acme', sans-serif;/*lo menciono para que aqui se utilize la fuente*/
  font-weight: bolder;
  text-align: center;
  /*background-color: rgb(6, 28, 37);*/
  margin-top: -0.2em;/*15*/
  padding: 0.10em;
  text-transform: capitalize;
  color: var(--color-white);
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

/*intentando darle otro estilo de hover sobre el calculo*/
.class-avg:hover{
  transform: scale(0.96);
  color: var(--color-black);
  /*background:rgba(243, 168, 5, 0.842);*/
}


/* etiqueta footer que contiene 2 section: los iconos de redes sociales y el p con el texto del footer*/
.main-footer{
  margin-top: 12px;
  border-top: inset 1px  ; /*borde solo a la parte superior*/
  /*border: 1px solid var(--color-dorado);*/
  color: var(--color-white);
  text-align: center;
  height: 100px;
}
/* etiqueta section que contiene a los icones de redes sociales*/
.icons_redes{
  margin-top: 15px;
}

.fa-facebook-square{
  font-size: 35px;
}

.fa-twitter-square{
  font-size: 35px;
}

.fa-youtube{
  font-size: 35px;
}

/* Estilo de la etiqueta p que contiene el texto del footer*/
.text-footer{
  color: rgb(255, 255, 255);
  /*text-align: center;*/
  font-size: 1em;   
  /*background-color: rgb(6, 28, 37);*/
  margin-top: -0.2em;/*15*/
  padding: 0.76em;
}







/* For the "inset" look only */
html {
  overflow: auto;
}
body {
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 5px;
  right: 2px;
  padding: 0; 
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:var(--color-dorado); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: var(--color-dorado); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-nav-dark); 
}