*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
    .header{
      background: url(imagenes/lugares-turisticos-de-medellin_header.jpg);
      background-position: center;
      background-attachment: contain;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
    }
      .menu{
          background: rgba(0,0,0,.1);
          display: flex;
          flex-flow: row nowrap;
          height: 100px;
          align-items: center;
          border-bottom: 1px solid rgba(255,255,255,.5);
      }
          .logo{
              flex: 1 1 auto;
          }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #343434;
                }
          .nav{
              flex: 5 1 auto;
          }
                .nav a{
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #343434;
                }
          .social{
              flex: 1 1 auto;
          }
      .texto-principal{
          /*background: #f07b3f;*/
          height: 580px;
          display: flex;
          align-items: center;
      }
          h1{
             font-family: 'Lora', serif;
             font-size: 21px;
             color: #fff;
             font-weight: 300;
             text-align: center;
             line-height: 1.6;
          }
    .section{
        background: #f7f7f7;
        display: flex;
    }
        .articulos {
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex:1 1 40%;
                color:#444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }
            .article img{
                width: 100%;
            }
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px;
                background: #142850;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                background: #546cc3;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }
            .navegacion {
                background: #70a3c4;
                flex: 1 1 100%;
            }
            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
        .aside{
            /*background: #f73f52;*/
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
        .aside img{
            width: 100%;
        }
            .publicidad {
               /*background: #ffea85;*/
            }
        h4{
            background: #142850;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .pie{
           /*background: #e6af2e;*/
           text-align: center;
        }
        .pie a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
@media all and (max-width: 1120px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
}
@media all and (max-width: 762px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width:650px){
    /*.off{display: none;}*/
    .nav a{font-size: 12px;}
}
@media all and (max-width: 400px){
    .aside{
          flex-direction: column;
    }
}
